<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HoloClip.Collector.mapper.YoutubeChannelMapper">

    <select id="findByChannelId" resultType="com.HoloClip.Collector.model.YoutubeChannel">
        SELECT * FROM youtube_channels WHERE channel_id = #{channelId}
    </select>

    <select id="findByIsVerifiedFalse" resultType="com.HoloClip.Collector.model.YoutubeChannel">
        SELECT * FROM youtube_channels WHERE is_verified = false
    </select>

    <insert id="insert" parameterType="com.HoloClip.Collector.model.YoutubeChannel">
        INSERT INTO youtube_channels (channel_id, channel_name, subscriber_count, video_count, thumbnail_url, is_verified, last_updated, created_at)
        VALUES (#{channelId}, #{channelName}, #{subscriberCount}, #{videoCount}, #{thumbnailUrl}, #{isVerified}, #{lastUpdated}, #{createdAt})
    </insert>

    <update id="updateVerificationStatus">
        UPDATE youtube_channels SET is_verified = #{isVerified}, last_updated = NOW() WHERE channel_id = #{channelId}
    </update>

    <select id="findAll" resultType="com.HoloClip.Collector.model.YoutubeChannel">
        SELECT * FROM youtube_channels
        <where>
            <if test="isVerified != null">
                AND is_verified = #{isVerified}
            </if>
            <if test="channelName != null and channelName != ''">
                AND channel_name ILIKE CONCAT('%', #{channelName}, '%')
            </if>
        </where>
    </select>

    <update id="updateChannel" parameterType="com.HoloClip.Collector.model.YoutubeChannel">
        UPDATE youtube_channels
        <set>
            <if test="channelName != null">channel_name = #{channelName},</if>
            <if test="subscriberCount != null">subscriber_count = #{subscriberCount},</if>
            <if test="videoCount != null">video_count = #{videoCount},</if>
            <if test="thumbnailUrl != null">thumbnail_url = #{thumbnailUrl},</if>
            <if test="isVerified != null">is_verified = #{isVerified},</if>
            last_updated = NOW()
        </set>
        WHERE channel_id = #{channelId}
    </update>

    <delete id="deleteByChannelId">
        DELETE FROM youtube_channels WHERE channel_id = #{channelId}
    </delete>

    <delete id="deleteByChannelIds">
        DELETE FROM youtube_channels
        WHERE channel_id IN
        <foreach item="item" collection="channelIds" open="(" separator="," close="">
            #{item}
        </foreach>
    </delete>

    <update id="updateVerificationStatusForIds">
        UPDATE youtube_channels
        SET is_verified = #{isVerified}, last_updated = NOW()
        WHERE channel_id IN
        <foreach item="item" collection="channelIds" open="(" separator="," close="">
            #{item}
        </foreach>
    </update>

</mapper>
